.sliderContainer {
  width: 100%;
  height: 12px;
  cursor: pointer;
  /* background-color: red; */
  margin-top: 4.5rem;
}

.sliderTrack {
  position: relative;
  background-color: #eee;
  width: calc(100% - 40px);
  height: 12px;
  border-radius: 999px;
  margin: 0 auto;
}

.sliderActive {
  position: absolute;
  top: 0;
  width: 50%;
  height: 12px;
  border-radius: 999px;
  background-image: linear-gradient(90deg, #b3e5fc, #4fc3f7);
  transition: width 0.5s;
  display: flex;
  justify-content: end;
  align-items: center;
}

.sliderThumb {
  width: 20px;
  height: 20px;
  border-radius: 999px;
  background-color: #ffe;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
  transform: translateX(10px);
  position: absolute;
}

.sliderDesc {
  background-color: #111;
  padding: 0.5rem 0.25px;
  border-radius: 4px;
  text-align: center;
  min-width: 40px;
  font-size: 12px;
  color: #fff;
  transform: translate(18px, -32px);
  position: relative;
}

.scratchContainer {
  width: 100%;
}

#scratchCanvas {
  display: block;
  width: 100%;
  background-color: #aaa;
  /* height: 100%; */
}