/* common */
main {
  /* padding-left: 19.5rem; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg);
  padding: 4rem 2rem 0 19.5rem;
  color:
}

.titleBox {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent);
}

.contentsGrid {
  margin: 0 auto;
  /* background-color: blue; */
  width: calc(100%);
  /* padding-right: 2rem; */
  max-width: calc(1024px);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.contentWrap {
  width: 100%;
  /* background-color: #efe87d; */
  display: flex;
  flex-direction: column;
}

.contentBox {
  border: 1px solid var(--border);
  padding: 2rem;
  min-height: 160px;
  /* background-color: yellowgreen; */
  position: relative;
  display: flex;
  width: 100%;
  background-color: var(--primary);
  border-radius: 0.5rem;
}

.contentDesc .title {
  font-weight: bold;
  margin-top: 1rem;
}

.contentDesc .desc {
  margin-top: 0.75rem;
  font-size: 14px;
  line-height: 1.5;
}

.contentDesc .descBtn {
  cursor: pointer;
  margin-top: 1.0rem;
  font-size: 12px;
  padding: 0.5rem 1rem;
  border: 1px solid #aaa;
  border-radius: 999px;
}

.contentDesc {
  margin-bottom: 1.5rem;
}

footer {
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
}

/*** common */


.navigator {
  width: 17.5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg);
  display: relative;
  border-right: 1px solid var(--border);
  padding: 4rem 2rem;
  /* margin-right: 2rem; */
  z-index: 999;
}

nav ul li {
  margin: 1.5rem 0;
  cursor: pointer;
}

.mobileNavi {
  display: none;
}

.openNaviBtn,
.closeNaviBtn {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}

.openNaviBtn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.naviBtnCont {
  position: absolute;
  top: 0;
  justify-content: end;
  align-items: center;
  width: calc(100% -2rem);
  background-color: red;
  height: auto;
  display: none;

}

.tutorialWrap {
  position: abosolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: none;
  opacity: 0.5;
}


/* 768px  */
@media (max-width: 768px) {
  main {
    width: cals(100% - 2rem);
    padding: 24px 1.5rem;
    display: block;
  }

  .contentBox {
    padding: 2rem 1.0rem;
  }

  .navigator {
    width: calc(60% - 32px);
    padding: 4rem 1.5rem;
    transition: all 0.5s;
    transform: translateX(-100%);
  }

  .navigator.active {
    transform: translateX(0%);
  }


  .mobileNavi {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .closeNaviBtn {
    display: flex;
  }


  .tutorialWrap .explainText1 {
    top: 5rem;
    left: 4rem;
  }

}

/* 1024px  */
@media (max-width: 1240px) {


  .contentsGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-right: 0rem;
    /* padding: 1.5rem 2rem 0 0; */
  }


}



/* 
.sec-intro {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec-intro-img {
  width: 100%;
  height: 240px;
  background-color: #eee;
}

.sec-intro-btn {
  border: 1px solid #333;
  padding: 8px 16px;
  background-color: #eee;
  border-radius: 999px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

[data-theme="retro"] {
  --bg: #eae3cc;
  --border: #D9D1BA;
  --text: #2d2820;
  --primary: #E4D8B4;
  --accent: #F35248;
  --accent-light: #EF9995;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #333;
  --color-gray-light: #eee;
  --color-gray-dark: #999;
  --color-primary: #4fc3f7;
  --color-primary-light: #b3e5fc;
  --color-primary-dark: #00a0e9;
  --color-secondary: #ff6347;
  --color-secondary-light: #ff9f9f;
  --color-secondary-dark: #ff4d4d;
  --color-success: #4caf50;
  --color-success-light: #9ee9b3;
  --color-success-dark: #3d8b40;
  --color-warning: #ffeb3b;
  --color-warning-light: #ffe082;
  --color-warning-dark: #fbc02d;
  --color-danger: #f44336;
  --color-danger-light: #ff8a80;
  --color-danger-dark: #e53935
}